/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --hover-blue: #669ec0;
  --active-blue: #5496bd;
  --basic-dark: #333333;
  --basic-brown: #766357;
  --hover-brown: #604e43;
  --active-brown: #503e33;
  --basic-grey: #eeeeee;
  --basic-background-grey: #f2f2f2;
  --basic-rating-grey: #666666;
  --background-input-hover: #ebebeb;
  --border: #e5e5e5;
  --toggle: #ababab;
  --logo-html: #bdbbbc;
}

/*Font-family*/

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Narrow"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--basic-background-grey);
  background-position: top center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-header {
  position: relative;
  display: flex;
  align-items: center;
}

.main-navigation-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  background-color: transparent;
}

.logo {
  position: absolute;
  display: block;
  width: 138px;
  height: 70px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.site-navigation li {
  width: 100px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(1) {
  margin-left: 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: 124px;
}

.site-navigation li:nth-child(3) {
  margin-left: 148px;
}

.site-navigation li:nth-child(4) {
  margin-right: 72px;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:focus {
  color: var(--basic-brown);
}

/* Main-image */

.main-image {
  max-width: 100%;
  height: 509px;
  margin: 0;
  padding: 0;
  background: url("../img/welcome.svg") center top 76px no-repeat,
    url("../img/to-the-gorgeous.svg") center top 132px no-repeat,
    url("../img/sedona.svg") center top 215px no-repeat,
    url("../img/white-line.svg") center bottom no-repeat,
    url("../img/bg.jpg") center no-repeat, var(--basic-blue);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/*Title-main-page*/

.title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: center;
  margin-top: 42px;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark);
  text-align: center;
  margin-top: 44px;
  margin-bottom: 50px;
}

/* Features */

.features ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 47px;
}

.features p {
  font-size: 14px;
  line-height: 21px;
}

.feature-item-bg {
  color: var(--basic-white);
  width: 400px;
  height: 256px;
  background-color: var(--basic-blue);
}

.feature-item-description-picture-number {
  margin-top: 6px;
  margin-bottom: 8px;
}

.feature-item-description-picture {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.feature-item-description-picture::after {
  content: "";
  position: absolute;
  display: block;
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
  background-image: url(../img/image1.jpg);
  top: 0px;
  left: 400px;
}

.features-item-advantage {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item-advantage h3 {
  margin-top: 160px;
  margin-bottom: 25px;
}

.features-item-advantage p {
  margin-bottom: 84px;
}

.features-item-advantage li:nth-child(1)::before {
  content: "";
  position: absolute;
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
  top: 60px;
  left: 161px;
}

.features-item-advantage li:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  width: 75px;
  height: 70px;
  background-image: url(../img/icon-2.svg);
  top: 61px;
  left: 561px;
}

.features-item-advantage li:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 77px;
  background-image: url(../img/icon-3.svg);
  top: 57px;
  left: 967px;
}

.feature-item-picture-description::before {
  content: "";
  position: absolute;
  display: block;
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
  background-image: url(../img/image2.jpg);
  top: 0;
  right: 400px;
}

.feature-item-picture-description {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  left: 800px;
}

.features-item-picture-description-number {
  margin-top: 6px;
  margin-bottom: 10px;
}

.feature-item-description {
  width: 1200px;
  height: 256px;
  background-color: var(--basic-grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item-description h3 {
  margin-top: 46px;
}

.features-description-number {
  margin-top: 26px;
  margin-bottom: 24px;
}

/* Button-main-page */

.button-search {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown);
  border: none;
  margin-left: 316px;
  cursor: pointer;
}

.button-search:hover {
  background-color: var(--hover-brown);
}
.button-search:active {
  background-color: var(--active-brown);
  color: rgba(255, 255, 255, 0.3);
}

.button-found {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  width: 100%;
  background-color: var(--basic-blue);
  border: none;
  cursor: pointer;
  margin-top: 28px;
}

.button:hover {
  background-color: var(--hover-blue);
}

.button:active {
  background-color: var(--active-blue);
  color: rgba(255, 255, 255, 0.3);
}

/*Question-form*/

.question-form {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: start;
  margin-left: 446px;
  margin-top: 55px;
}

.appointment-info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 42px;
}

/* Appointment */

.appointment-form {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  width: 458px;
  height: 286px;
  margin-left: 316px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px;
}

.appointment-item {
  padding: 0;
  margin: 0;
}

.appointment-item input {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-background-grey);
  border: none;
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
}

/*Appointment-date*/

.appointment-date {
  position: relative;
}

.arrival-date label {
  margin-right: 20px;
  cursor: pointer;
}

.arrival-date input {
  width: 332px;
  margin: 0;
  padding: 0;
  padding: 11px 0;
  padding-left: 14px;
}

.date-departure {
  margin: 0;
  margin-top: 28px;
}

.date-departure label {
  margin-right: 17px;
  cursor: pointer;
}

.date-departure input {
  width: 333px;
  margin: 0;
  padding: 0;
  padding: 11px 0;
  padding-left: 13px;
}

.appointment-date input:hover,
.appointment-number input:hover {
  background-color: var(--background-input-hover);
}

.appointment-date input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--border);
  padding: 9px 0;
  padding-left: 9px;
}

.icon-calendar-arrival-date {
  position: absolute;
  width: 21px;
  height: 23px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.icon-calendar-date-departure {
  position: absolute;
  width: 21px;
  height: 23px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 73px;
  cursor: pointer;
}

.icon-calendar-arrival-date:hover path,
.icon-calendar-date-departure:hover path {
  fill: var(--basic-black);
}

.icon-calendar-arrival-date:active path,
.icon-calendar-date-departure:active path {
  fill: var(--basic-blue);
}

/*Appointment-number*/

.appointment-number {
  width: 458px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.appointment-number input {
  width: 40px;
  height: 37px;
  background-color: var(--basic-background-grey);
  text-align: center;
  border: none;
  padding: 0;
}

.appointment-number label {
  cursor: pointer;
}

.appointment-item-adult input {
  margin-top: 2px;
  margin-left: 73px;
}

.appointment-item-child input {
  margin-top: 2px;
  margin-left: 60px;
}

.appointment-item-child label {
  margin-left: 91px;
}

.appointment-number input:focus {
  width: 36px;
  height: 33px;
  background-color: var(--basic-white);
  border: 2px solid var(--border);
}

.appointment-number button {
  position: absolute;
  width: 37px;
  height: 37px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-background-grey);
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pic-minus-adult {
  top: 190px;
  right: 365px;
  display: flex;
}

.pic-minus-child {
  top: 190px;
  left: 398px;
  display: flex;
}

.pic-plus-adult {
  top: 190px;
  right: 288px;
}

.pic-plus-child {
  top: 190px;
  left: 475px;
}

.pic-plus:hover path {
  fill: var(--basic-black);
}

.pic-plus:active path {
  fill: var(--basic-blue);
}
.pic-minus:hover rect {
  fill: var(--basic-black);
}

.pic-minus:active rect {
  fill: var(--basic-blue);
}

/*Filter */

.filters {
  max-width: 100%;
  height: 217px;
  background-image: url("../img/bg-catalog.jpg");
  background-color: var(--basic-blue);
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.filter {
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

.fieldset {
  border: none;
  margin-top: 25px;
}

.filters-column legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: start;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 12px;
}

.filter-option label {
  position: relative;
  display: block;
  user-select: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.filter-option span {
  display: flex;
}

.fieldset-info ul {
  margin: 0;
  padding: 0;
  margin-left: 99px;
  margin-top: 8px;
}

.fieldset-housing ul {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-left: 51px;
}

.heading-info {
  margin-left: 58px;
}

.heading-house {
  margin-left: 10px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: -40px;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-not-ok.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: -40px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  left: -40px;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  left: -40px;
}

/*Range-filter*/

.filter-item {
  width: 320px;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: 200px;
  margin-right: 71px;
}

.range-filter {
  width: 320px;
  margin-top: 20px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 10px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 255px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  top: -10px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--basic-white);
}

.range-controls .toggle-min {
  left: 252px;
}

.price-controls label {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  width: 100px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls input {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: inherit;
  color: var(--basic-white);
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.max-price input {
  width: 35px;
  padding-right: 7px;
}

.min-price input {
  width: 10px;
}

.max-price {
  padding-left: 65px;
}

.min-price {
  padding-right: 47px;
  padding-left: 25px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls {
  position: relative;
  height: 32px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-bottom: 20px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-image: url("../img/mini-line.svg");
  top: 5px;
  left: 50%;
}

.rub::after {
  content: ", \20BD:";
}

/*Button-catalog*/

.button-catalog-show {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  margin-top: 33px;
  margin-right: 13px;
  padding: 6px 33px;
  cursor: pointer;
}

.button-catalog-show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-catalog-more {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-blue);
  border: none;
  padding: 3px 17px;
  cursor: pointer;
}

.button-catalog-more:hover {
  background-color: var(--hover-blue);
}

.button-catalog-more:active {
  background-color: var(--active-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-catalog-reserve {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-brown);
  border: none;
  padding: 3px 17px;
  cursor: pointer;
}

.button-catalog-reserve:hover {
  background-color: var(--hover-brown);
}

.button-catalog-reserve:active {
  background-color: var(--active-brown);
  color: rgba(255, 255, 255, 0.3);
}

/*Sort*/

.search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 73px;
  margin-right: 45px;
  margin-top: 30px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  margin-left: 2px;
}

.sorting-catalog {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sorting-catalog li {
  margin-right: 33px;
}

.sorting-catalog a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-blue);
  text-decoration: none;
}

.catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-found {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.solid a {
  text-decoration: none;
  border-bottom: 1px solid var(--basic-blue);
}

.sorting-catalog a:hover {
  color: var(--basic-blue);
}

.sorting-catalog a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-catalog a:focus {
  color: var(--basic-blue);
  border-bottom: none;
}

.button-up-down {
  list-style: none;
  display: flex;
  margin-left: 432px;
  margin-top: 25px;
}

.button-down {
  margin-left: 12px;
}

.button-down:hover path,
.button-up:hover path {
  fill: var(--basic-black);
}

.button-down:active path,
.button-up:active path {
  fill: var(--basic-blue);
}

/*Catalog*/

.title-catalog {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}

.title-catalog:hover {
  color: var(--basic-blue);
}

.title-catalog:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-rating-grey);
  background-color: var(--basic-background-grey);
  padding: 3px 13px;
  margin: 0;
}

.rub-catalog::after {
  content: " \20BD";
}

.catalog {
  margin-bottom: 5px;
}

.catalog-items {
  display: grid;
  grid-template-columns: 165px 1fr 1fr;
  padding: 25px 73px;
}

.title-catalog-img-start {
  margin-top: 14px;
}

.title-catalog-img-center,
.title-catalog-img-end {
  margin-top: 10px;
}

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 780px;
  min-height: 100px;
}
.title-catalog-start {
  width: 100%;
  margin-top: 7px;
}

.title-catalog-center,
.title-catalog-end {
  width: 100%;
  margin-top: 5px;
}

.catalog-description {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.catalog-description-start p {
  margin: 0;
  margin-bottom: 14px;
  margin-top: 3px;
}
.catalog-description-center p {
  margin: 0;
  margin-bottom: 15px;
}

.catalog-description-end p {
  margin: 0;
  margin-bottom: 13px;
  margin-top: 3px;
}

.catalog-reserve {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 5px;
}

.catalog-reserve-start p {
  margin: 0;
  margin-bottom: 14px;
  margin-top: 3px;
}
.catalog-reserve-center p {
  margin: 0;
  margin-bottom: 15px;
}

.catalog-reserve-end p {
  margin: 0;
  margin-bottom: 13px;
  margin-top: 3px;
}

.rating-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rating-stars img:nth-child(1) {
  padding-right: 2px;
}

.stars-start {
  margin-top: 12px;
  margin-bottom: 39px;
}

.stars-center {
  margin-top: 7px;
  margin-bottom: 40px;
}

.stars-end {
  margin-top: 8px;
  margin-bottom: 40px;
}

.catalog-border {
  border-bottom: 1px solid var(--border);
}

.catalog-border-top {
  border-top: 1px solid var(--border);
}
/* Main footer */

.main-footer {
  width: 1200px;
  text-align: center;
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
}

.absolute-footer {
  position: absolute;
  top: 2642px;
  height: 120px;
}

.footer-phone {
  width: 300px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-left: 35px;
  margin-top: 8px;
}

.footer-slogan {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-top: 23px;
}

.footer-social {
  width: 200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-copyright {
  max-width: 300px;
  margin-top: 45px;
}

.copyright svg {
  margin-left: 14px;
  margin-top: 43px;
}

.button-copyright a:hover path {
  fill: var(--basic-blue);
}

.button-copyright a:active path {
  fill: var(--logo-html);
}

/* Social button */

.social-button {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  background-position: center;
  background-repeat: no-repeat;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:active img {
  background-color: var(--active-blue);
  opacity: 0, 3;
}

/*Grid footer*/

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.contacts {
  max-width: 500px;
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  justify-self: center;
}

.social-button-columns {
  max-width: 200px;
  margin-top: 18px;
  margin-right: 38px;
  justify-self: center;
}

.copyright {
  max-width: 250px;
  font-size: 14px;
  line-height: 26px;
  margin-right: 66px;
  display: flex;
  justify-self: center;
}

/* Grid for catalog*/

.filters-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
}

.title-column {
  border-bottom: 1px var(--border) solid;
  margin: 0;
  padding: 0;
  padding: 25px 73px;

  display: grid;
  grid-template-columns: 164px 280px 2fr;
}

.end-column {
  justify-self: end;
}

.start-column {
  justify-self: start;
}

.center-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Modal map */

.modal-map {
  display: block;
  width: 1199px;
  height: 594px;
}

.modal-map iframe {
  border: none;
}
