/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --hover-blue: #669ec0;
  --active-blue: #5496bd;
  --basic-dark: #333333;
  --basic-brown: #766357;
  --hover-brown: #604e43;
  --active-brown: #503e33;
  --basic-grey: #eeeeee;
  --basic-background-grey: #f2f2f2;
  --basic-rating-grey: #666666;
  --background: #888888;
  --background-input-hover: #ebebeb;
  --border: #e5e5e5;
  --toggle: #ababab;
  --logo-html: #bdbbbc;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Narrow"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main-image */

.main-image {
  background: url("../img/welcome.svg") center top 76px no-repeat,
    url("../img/to-the-gorgeous.svg") center top 132px no-repeat,
    url("../img/sedona.svg") center top 217px no-repeat,
    url("../img/white-line.svg") center bottom no-repeat,
    url("../img/bg-index.html.jpg") center no-repeat;

  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 509px;
  padding: 0;
  margin: 0;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}

/* Main navigation */

.main-navigation a {
  color: var(--basic-black);
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.main-header {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 138px;
  height: 70px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  height: 100%;
}

.main-navigation ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
}

.site-navigation li:nth-child(1) {
  padding-left: 73px;
}

.site-navigation li:nth-child(2) {
  padding-left: 100px;
  padding-right: 420px;
}

.site-navigation li:nth-child(3) {
  padding-right: 100px;
}

.site-navigation li:nth-child(4) {
  padding-right: 73px;
}

.site-navigation li:nth-child(3) {
  padding-left: 1px;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:focus {
  color: var(--basic-brown);
}

/*Title*/

.title {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--basic-dark);
  margin-bottom: 51px;
  text-align: center;
}

.question {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin-top: 58px;
  font-weight: bold;
}

.appointment-info {
  text-align: center;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 24px;
}
/* Features */

.features ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 47px;
}

.features p {
  font-size: 14px;
  line-height: 21px;
}

.feature-item-bg {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 400px;
  height: 256px;
}

.feature-item-description {
  background-color: var(--basic-grey);
}

.feature-item-description-picture {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}
.feature-item-description-picture::after {
  content: "";
  display: block;
  background-image: url(../img/image1-index.html.jpg);
  margin: 0;
  padding: 0;
  width: 800px;
  height: 256px;
  position: absolute;
  top: 0;
  left: 400px;
}

.feature-item-picture-description {
  position: relative;
  left: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.feature-item-picture-description::before {
  content: "";
  display: block;
  background-image: url(../img/image2-index.html.jpg);
  margin: 0;
  padding: 0;
  width: 800px;
  height: 256px;
  position: absolute;
  top: 0;
  right: 400px;
}

.features-item-advantage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  text-align: center;
}

.features-item-advantage h3 {
  margin-top: 160px;
}

.features-item-advantage p {
  margin-bottom: 82px;
}

.features-item-advantage li:nth-child(1)::before {
  content: "";
  display: block;
  background-image: url(../img/icon-1.svg);
  width: 75px;
  height: 72px;
  position: absolute;
  top: 50px;
  left: 160px;
}

.features-item-advantage li:nth-child(2)::before {
  content: "";
  display: block;
  background-image: url(../img/icon-2.svg);
  width: 75px;
  height: 70px;
  position: absolute;
  top: 50px;
  left: 560px;
}

.features-item-advantage li:nth-child(3)::before {
  content: "";
  display: block;
  background-image: url(../img/icon-3.svg);
  width: 64px;
  height: 77px;
  position: absolute;
  top: 50px;
  left: 960px;
}

.feature-item-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item-description h3 {
  margin-top: 47px;
}

.feature-item-description p {
  margin-bottom: 54px;
}

/* Button */

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  width: 458px;
  height: 58px;
  margin-bottom: 55px;
}

.button:hover {
  background-color: var(--hover-blue);
}

.button:active {
  background-color: var(--active-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  text-transform: uppercase;
  border: none;
  width: 568px;
  height: 86px;
  margin-left: 316px;
}

.button-search:hover {
  background-color: var(--hover-brown);
}
.button-search:active {
  background-color: var(--active-brown);
  color: rgba(255, 255, 255, 0.3);
}

/*Button-catalog*/

.button-catalog-show {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  margin-top: 33px;
}

.button-catalog-show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-catalog-more {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 17px;
  border: none;
}

.button-catalog-more:hover {
  background-color: var(--hover-blue);
}

.button-catalog-more:active {
  background-color: var(--active-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-catalog-search {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 17px;
  border: none;
}

.button-catalog-search:hover {
  background-color: var(--hover-brown);
}

.button-catalog-search:active {
  background-color: var(--active-brown);
  color: rgba(255, 255, 255, 0.3);
}

/* Appointment */

.appointment-form {
  font-weight: bold;
  box-shadow: 0px 7px 15px 0px;
  width: 568px;
  height: 395px;
  margin-left: 315px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  background: var(--basic-white);
}

.appointment-item input {
  font: inherit;
  background-color: var(--basic-background-grey);
  border: none;
  outline: 0;
  outline-offset: 0;
}

/*Appointment-date*/

.appointment-date {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  justify-content: center;
  position: relative;
}

.appointment-date input {
  padding: 6px 200px 6px 13px;
}

.appointment-date label {
  margin-right: 6px;
}

.appointment-date input:hover {
  background-color: var(--background-input-hover);
}

.appointment-date input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--border);
  padding: 4px 200px 4px 13px;
}

.icon-calendar-arrival-date {
  position: absolute;
  width: 21px;
  height: 23px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  right: 60px;
  top: 20px;
}

.icon-calendar-date-departure {
  position: absolute;
  width: 21px;
  height: 23px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  right: 60px;
  top: 90px;
}

.icon-calendar-arrival-date:hover path,
.icon-calendar-date-departure:hover path {
  fill: var(--basic-black);
}

.icon-calendar-arrival-date:active path,
.icon-calendar-date-departure:active path {
  fill: var(--basic-blue);
}

/*Appointment-number*/

.appointment-number {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 470px;
}

.appointment-number input {
  width: 39px;
  height: 35px;
  text-align: center;
}

.adult-label {
  margin-right: 64px;
}

.adult-input {
  margin-right: 110px;
}

.child-label {
  margin-right: 45px;
}

.child-input {
  margin-left: 10px;
}

.pic-minus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 211px;
  right: 380px;
}

.pic-minus-child {
  left: 400px;
}

.pic-plus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 211px;
  right: 300px;
}

.pic-plus-child {
  left: 480px;
}

.appointment-item-number button {
  width: 39px;
  height: 37px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-background-grey);
  border: none;
  outline: none;
}

.pic-plus:hover path {
  fill: var(--basic-black);
}

.pic-plus:active path {
  fill: var(--basic-blue);
}
.pic-minus:hover rect {
  fill: var(--basic-black);
}

.pic-minus:active rect {
  fill: var(--basic-blue);
}

/*Filter */

.filters {
  background-image: url("../img/bg-catalog.html.jpg");
  background-color: var(--basic-blue);
  height: 217px;
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 100%;
  border: none;
}

.filter {
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

.fieldset {
  border: none;
  margin-top: 27px;
}

.filters-column legend {
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter-option {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 10px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 72px;
}

.heading {
  margin-left: 72px;
}

.filter-option span {
  display: flex;
  margin-left: 17px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-not-ok.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -50px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -50px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*Range-filter*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 320px;
  margin-top: 27px;
}

.filter-item legend {
  margin-bottom: 10px;
  text-align: start;
}

.range-filter {
  width: 320px;
  margin-top: 20px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  width: 316px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--basic-white);
}

.range-controls .toggle-min {
  left: 240px;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

.price-controls input {
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  text-align: center;
  cursor: pointer;
  outline: none;
}

.max-price input {
  width: 35px;
}

.min-price input {
  width: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  height: 32px;
}

.price-controls::after {
  content: "";
  background-image: url("../img/mini-line.svg");
  width: 2px;
  height: 22px;
  position: absolute;
  top: 5px;
  left: 50%;
}

.max-price {
  padding-left: 64px;
}

.rub::after {
  content: ",\20BD:";
}

/*Sort*/

.search {
  font-size: 21px;
  line-height: 26px;
  position: relative;
  margin-right: 46px;
  margin-left: 73px;
  text-transform: uppercase;
}

.dotted a {
  border-bottom: 1px dotted var(--basic-blue);
  text-decoration: none;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  position: relative;
  margin-right: 40px;
}

.sorting-catalog {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.catalog ul {
  list-style: none;
}

.sorting-catalog a:hover {
  color: var(--basic-blue);
}

.sorting-catalog a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-catalog a:focus {
  color: var(--basic-blue);
  border-bottom: none;
}

.solid a {
  text-decoration: none;
  border-bottom: 1px solid var(--basic-blue);
}

.sorting-catalog li {
  position: relative;
  margin-right: 33px;
}

.sorting-catalog a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-found {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.button-up-down {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 400px;
}

.button-down {
  margin-left: 12px;
}

.catalog {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 73px;
  margin-left: 73px;
}

.button-down:hover path,
.button-up:hover path {
  fill: var(--basic-black);
}

.button-down:active path,
.button-up:active path {
  fill: var(--basic-blue);
}

/*Catalog*/

.title-catalog {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 23px;
  margin-bottom: 7px;
}

.title-catalog:hover {
  color: var(--basic-blue);
}

.title-catalog:active {
  color: rgba(0, 0, 0, 0.3);
}

.subtitle-catalog {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-bottom: 15px;
}

.rating {
  color: var(--basic-rating-grey);
  background-color: var(--basic-background-grey);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 3px 15px;
}

.rating-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
}

.absolute-footer {
  position: absolute;
  top: 2580px;
}

.footer-phone {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  width: 200px;
}

.footer-social {
  text-align: center;
  width: 200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-copyright {
  max-width: 300px;
}

.button-copyright a:hover path {
  fill: var(--basic-blue);
}

.button-copyright a:active path {
  fill: var(--logo-html);
}

/* Social button */

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  background-color: var(--basic-blue);
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:active img {
  background-color: var(--active-blue);
  opacity: 0, 3;
}

/*Grid footer*/

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.contacts {
  max-width: 200px;
  justify-self: start;
  margin-left: 136px;
  margin-top: 23px;
  text-align: center;
  font-size: 21px;
  font-style: bold;
  line-height: 26px;
}

.social-button-columns {
  max-width: 200px;
  justify-self: center;
  padding: 30px 0;
}

.copyright {
  display: flex;
  max-width: 250px;
  justify-self: end;
  margin-right: 80px;
  margin-top: 47px;
  font-size: 14px;
  line-height: 26px;
}

.copyright svg {
  margin-left: 20px;
}

/* Grid for pages */

.filters-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 220px;
}

.title-column-border {
  border-top: 1px var(--border) solid;
}

.title-column {
  border-bottom: 1px var(--border) solid;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.end-column {
  justify-self: end;
}

.start-column {
  justify-self: start;
}

/* Modal map */

.modal-map {
  display: block;

  width: 1199px;
  height: 594px;
}

.modal-map iframe {
  border: none;
}
