/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --hover-blue: #669EC0;
    --focus-blue: #5496BD;
    --basic-dark: #333333;
    --basic-brown: #766357;
    --hover-brown: #604E43;
    --focus-brown: #503E33;
    --basic-grey: #EEEEEE;
    --basic-background-grey:#F2F2F2;
    --basic-rating-grey: #666666;
    --background: #888888;
    --background-input-hover:#EBEBEB;
  }
  
  /* Global */

  .page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-style: bold;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100%;
  }

  .main-image {
    background-image: url("/img/bg1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .white-line {
  margin-bottom: -25px;
  }

/* Container */

/*.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;*/


  /* Main navigation */

  .main-navigation a {
    width: auto;
    color: var(--basic-black);
    background-color: transparent;
    text-decoration: none;
  }
 
  .site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .main-header-logo {
    max-width: 100%;
    height: auto;
  }
  
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-brown);
}

/*Hide*/

.hide {
  display: none;
}

/*Title*/

.title {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  text-align:center;
}

.subtitle {
  color: var(--basic-dark);
  text-align:center;
}

.question{
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.appointment-info{
  text-align: center;
  line-height: 24px;
}
/* Features */

/*.container-main {
  display: grid;
  grid-template-columns:  170px 170px 170px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: auto;
  gap: 20px;
}
.feature-item-1{
  grid-column-start: 1;
  grid-column-end: 4;
}
.feature-item-img1{
  grid-column-start: 4;
  grid-column-end: 6;
}
  /*grid-template-areas: "Fi1 fii1"
					             "Fiic1 Fiic2 Fiic3"
					             "Fi2 fii2"
                       "Fi3 Fi4 Fi5";
}

.feature-item-1 {grid-area: Fi1;}
.feature-item-img1 {grid-area: Fii1;}
.feature-item-icon1 {grid-area: Fiic1;}
.feature-item-icon2 {grid-area: Fiic2;}
.feature-item-icon3 {grid-area: Fiic3;}
.feature-item-2 {grid-area: Fi2;}
.feature-item-3 {grid-area: Fi3;}
.feature-item-4 {grid-area: Fi4;}
.feature-item-5 {grid-area: Fi5;}*/

.features-list {
  list-style: none;
  text-align: center;
}

.features-list h3 {
 font-size: 21px;
 line-height: 21px;
}

.features-list p {
  font-size:14px;
 line-height: 21px;
}

.feature-item-1,.feature-item-2 {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}


.feature-item-img-1,.feature-item-img-2 {
  background-color: var(--basic-white);
  max-width: 100%;
  height: auto;
}

.feature-item-3-4-5 {
  background-color: var(--basic-grey);
}

/* Button */

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  width: 458px;
  height: 58px;
}

.button:hover,.button:focus {
  background-color:var(--hover-blue);
}


.button:active {
  background-color:var(--focus-blue);
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  background-color:var(--basic-brown);
  border: none;
  width: 568px;
  height: 86px;
}

.button-search:hover,
.button-search:focus{
  background-color: var(--hover-brown);
}
.button-search:active {
  background-color:var(--focus-brown);
}

.button-catalog-show {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color:transparent;
  border: 2px solid var(--basic-white);
}

.button-catalog-show:hover,
.button-catalog-show:focus,
.button-catalog-show:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-catalog-more {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-decoration: none;
  width: 110px;
  height: 27px;
  border: none;
}

.button-catalog-more:hover {
  background-color:var(--hover-blue);
}

.button-catalog-more:focus {
  background-color: var(--focus-blue);
}

.button-catalog-search {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color:var(--basic-brown);
  text-decoration: none;
  width: 142px;
  height: 27px;
  border: none;
}

.button-catalog-search:hover{
  background-color:var(--hover-brown);
}
.button-catalog-search:focus{
  background-color:var(--focus-brown);
}

/* Appointment */

.appointment-form {
  text-align: center;
}

.appointment-item input {
  font: inherit;
  background-color:var(--basic-background-grey);
  border:none;
  outline: 0;
  outline-offset: 0;
}

.appointment-item input:hover {
  background-color:var(--background-input-hover);
}

.appointment-item input:focus {
  background-color:var(--basic-white);
}

.icon-calendar {
  background: url(/img/calendar.svg) no-repeat center right;
  width: 346px;
}

.icon-calendar:hover {
background-image: url(/img/calendar-black.svg);
}

.icon-calendar:focus {
  background-image: url(/img/calendar-blue.svg);
  }
 
 .adult,.child {
   width: 36px;
   text-align: center;
 }

/*Filter */

.filters {
  background-image: url("/img/bg2.jpg");
  background-color: var(--basic-blue);
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  border: none;
}

.filter {
  color: var(--basic-white);
  text-align:center;
}

.fieldset {
border: none;
}

.heading {
  font-size: 16px;
  line-height: 21px; 
}

.filter-option {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  text-align:center;
}

/*Sort*/

.search {
  font-size: 21px;
  line-height: 26px;
}

.sort {
  font-size: 12px;
  line-height: 18px;  
}
.sorting-catalog {
list-style: none;
}

.sorting-catalog a{
  font-size: 12px;
  line-height: 18px; 
  color:var(--basic-black);
}

.sorting-catalog a:hover, 
.sorting-catalog a:active {
  color:var(--basic-blue);
}

.sorting-catalog a:focus {
  color:var(--basic-black);
  text-decoration: none;
}

.catalog {
list-style: none;
}

.button-up {
background-image: url(/img/up.svg);
width: 11px;
height:10px;
}

.button-up:hover {
  background-image:url(/img/up-black.svg)
}

.button-up:focus {
  background-image:url(/img/up-blue.svg)
}

.button-down {
background-image: url(/img/down-grey.svg);
width: 11px;
height:10px;
}

.button-down:hover {
  background-image:url(/img/down-black.svg)
}

.button-down:focus {
  background-image:url(/img/down-blue.svg)
}

.title-catalog {
  font-size: 21px;
  line-height: 26px;
  text-decoration:none;
  color: var(--basic-black);
}

.title-catalog:hover {
  color: var(--basic-blue);
}

.subtitle-catalog{
  font-size: 14px;
  line-height: 21px;
}

.rating {
  color:var(--basic-rating-grey);
  background-color: var(--basic-background-grey);
  font-size: 14px;
  line-height: 21px;
  text-align:center;
  width: 110px;
  height: 27px;
  
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-phone {
  width: 320px;
  color: inherit;
  text-decoration: none;
}

.footer-social {
  text-align: center;
  width: 145px;
  list-style: none;
}

.footer-copyright {
  max-width: 150px;
}

.button-copyright {
  background-image: url(/img/logo_htmlacademy.svg);
  width:115px;
  height:33px;
}
.button-copyright:hover {
background-image: url(/img/logo_htmlacademy-blue.svg);
}

.button-copyright a:focus {
  background-image: url(/img/logo_htmlacademy-grey.svg);
}

/* Social button */

.social-button-tw {
  background-image: url(/img/twitter.svg);
}

.social-button-fb{
  background-image: url(/img/fb-icon.svg);
}

.social-button-yt {
  background-image: url(/img/youtube.svg);
}

.social-button  {
  display:flex;
  flex-direction: row;
  margin: 10px;
  background-color: var(--basic-blue);
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--hover-blue);
} 

.social-button:focus {
  background-color: var(--focus-blue);
} 

/* Grid */
.page {
  height: 100%;
}
/*Table-catalog*/

.table {
  border: 3px solid white;
  width: 317px;
  height: 36px;
  text-align: center;
}

.caption {
  caption-side: top;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
}

.td {
  border-left: 3px solid white;
  width: 159px;
}