/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --hover-blue: #669EC0;
    --active-blue: #5496BD;
    --basic-dark: #333333;
    --basic-brown: #766357;
    --hover-brown: #604E43;
    --active-brown: #503E33;
    --basic-grey: #EEEEEE;
    --basic-background-grey:#F2F2F2;
    --basic-rating-grey: #666666;
    --background: #888888;
    --background-input-hover:#EBEBEB;
    --border:#E5E5E5;
    --toggle:#ABABAB;
    --logo-html:#BDBBBC;
  }

  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans Narrow"),
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  }

  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: bold;
    src: local("PT Sans Narrow"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  }
  
  /* Global */
  .page {
    height: 100%;
  }

  .page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

/* Visually-hidden */

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  .main-image {
    background-image: url("../img/bg1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  .welcome-title {
    margin-top: 74px;
    margin-bottom: 10px;
  }
  
/* Container */

.container {
  width:1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}

  /* Main navigation */

  .main-navigation a {
    width: auto;
    color: var(--basic-black);
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  } 

.main-header-logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
 transform: translate(-50%);
 max-width: 100%;
 height: auto;
}

.main-navigation-wrapper {
width: 1200px;
margin: 0 auto;
padding: 0 10px;
background-color: var(--basic-white);
}

 .site-navigation {
   position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0px;
    padding-top: 14px;
    padding-bottom: 16px;
    line-height: 26px;
  }

  .site-navigation li:nth-child(1) {
    padding-left: 72px;
  }

  .site-navigation li:nth-child(4) {
    padding-right: 72px;
  }

  
.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0,3);
}


.site-navigation a:focus {
  color: var(--basic-brown);
}

/*Title*/


.title {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align:center;
  margin-top: 42px;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--basic-dark);
  margin-bottom: 51px;
  text-align: center;
}

.question {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin-top: 58px;
  font-weight: bold;
}

.appointment-info {
  text-align: center;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 24px;
}
/* Features */

.features {
  margin-bottom: 58px;
  margin-top: 51px;
}


.features-list ul {
  list-style: none;
  text-align: center;

  margin: 0;
  padding: 0;
}


.features-list h3 {
 font-size: 21px;
 line-height: 21px;
 margin-top: 47px;
}

.features-list p {
  font-size:14px;
 line-height: 21px;
}

.feature-item-bg {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width:400px;
  height:256px;
}


.feature-item-img {
  background-color: var(--basic-white);
  max-width: 100%;
  height: auto;
  width: 800px;
  height: 256px;
}

.feature-item-description {
  background-color: var(--basic-grey);
  width: 1200px;
  height: 256px;
}

/* Button */

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  width: 458px;
  height: 58px;
}

.button:hover {
  background-color:var(--hover-blue);
}


.button:active {
  background-color:var(--active-blue);
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  background-color:var(--basic-brown);
  text-transform: uppercase;
  border: none;
  width: 568px;
  height: 86px;
  margin-left: 316px;
}

.button-search:hover {
  background-color: var(--hover-brown);
}
.button-search:active {
  background-color:var(--active-brown);
}

.button-catalog-show {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color:transparent;
  border: 2px solid var(--basic-white);
  margin-top: 33px;
}

.button-catalog-show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-catalog-more {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 17px;
  border: none;
}

.button-catalog-more:hover {
  background-color:var(--hover-blue);
}

.button-catalog-more:active {
  background-color: var(--active-blue);
  color:rgba(255,255,255, 0,3);
}



.button-catalog-search {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color:var(--basic-brown);
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 17px;
  border: none;
 
}

.button-catalog-search:hover {
  background-color:var(--hover-brown);
}

.button-catalog-search:active {
  background-color:var(--active-brown);
  color:rgba(255,255,255, 0,3);
}



/* Appointment */

.appointment-form {
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 7px 15px 0px;
  width: 568px;
  height: 395px;
  margin-left: 315px;
  text-transform: uppercase;
} 

.appointment-date {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 61px;
  padding-bottom: 30px;
}

.appointment-number {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 54px;
  margin-left: -140px;
}

.appointment-item input {
  font: inherit;
  background-color:var(--basic-background-grey);
  border:none;
  outline: 0;
  outline-offset: 0;
}

.appointment-item-date input {
  padding: 6px 200px 6px 13px;
}

.appointment-item-date label {
display: inline-block;
  margin-right: 6px;
}

.appointment-item-numder input {
  width: 39px;
height:35px;
margin-left: -5px;
margin-right: -5px;
text-align: center;
}

.appointment-item-numder label {
  display: inline-block;
    margin-right: 11px;
    margin-left: 90px;
  }

  .appointment-item-numder button {
width: 39px;
height:37px;
padding: 6px;
margin: 0;
text-align: center;
background-color: var(--basic-background-grey);
border: none;
  }

.appointment-item input:hover {
  background-color:var(--background-input-hover);
}

.appointment-item input:focus {
  background-color:var(--basic-white);
  border: 2px solid var(--border);
}

.icon-calendar {
  background: url("../img/calendar.svg") no-repeat;
  background-position: 97% 50%; 
 
}

.icon-calendar:hover {
background-image: url("../img/calendar-black.svg");
}

.icon-calendar:active {
  background-image: url("../img/calendar-blue.svg");
  }

.pic-plus:hover path {
    fill: var(--basic-black);
  }

 .pic-plus:active path {
    fill: var(--basic-blue);
  }
  .pic-minus:hover rect{
    fill: var(--basic-black);
  }

.pic-minus:active rect{
    fill: var(--basic-blue);
  }

/*Filter */

.filters {
  background-image: url("../img/bg2.jpg");
  background-color: var(--basic-blue);
  height: 217px;
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 100%;
  border: none;
}

.filter {
  color: var(--basic-white);
  text-align:center;
}

.fieldset {
border: none;
}

.filters-column legend {
  text-align: start;
}

.heading {
  font-size: 16px;
  line-height: 21px; 
}

.filter-option {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  text-align:center;
}

.fieldset-info,.fieldset-housing {
  margin-top: 27px;
  }
  
  .filter-option {
  padding: 10px;
  }
  
  .filter-item {
    margin: 0;
    padding: 0;
    border: none;
  width: 320px;
  margin-top: 27px; 
  margin-left: 200px;
  }

  .filter-item legend {
    margin-bottom: 10px;
    text-align: start;
  }

  .range-filter {
    width: 320px;
    margin-top: 20px;
  }

  .filter-item legend {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
  }

  .range-controls {
    position: relative;
  }

  .range-controls .scale {
    height: 2px;
    width: 316px;
    background: var(--basic-white);
  }

  .range-controls .bar {
    width: 248px;
    height: 2px;
    background: var(--basic-white);
  }

  .range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    cursor: pointer;
  }

  .range-controls .toggle-min {
    left: 240px;
  }

  .price-controls label {
    text-transform: uppercase;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    height: 35px;
    width: 100px;
    cursor: pointer;
    text-align: center;
  }

  .price-controls input {
    font-family: inherit;
    font-size: inherit;
    background-color:transparent;
  border: none;
  color: var(--basic-white);
  margin-top: 10px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  }

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

  .price-controls {
    position: relative;
    margin-bottom: 20px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    height: 32px;
  }


 

  .price-controls::after {
    content: "";
    background-image: url("../img/mini-line.svg");
    width: 2px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: 50%;
  }

  .max-price {
    padding-left: 64px;
  }

  .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-left: 72px;
  }

  .heading {
    margin-left: 72px;
  }

  .filter-option span {
display: flex;
margin-left: 17px;
  }

  .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checked.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -50px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .filter-input-checkbox:checked + label:disabled  {
    content: "";
    position: absolute;
    top: 0px;
    left: -50px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
 

/*Sort*/

.search {
  font-size: 21px;
  line-height: 26px;
  position: relative;
  margin-right: 46px;
  margin-left: 73px;
}

.dotted a{
  border-bottom: 1px dotted var(--basic-blue);
  text-decoration: none;
}

.sort {
  font-size: 12px;
  line-height: 18px; 
  position: relative;
  margin-right: 40px;
}

.sorting-catalog {
  list-style: none;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
color: rgba(0,0,0, 0,3);
}

.catalog ul {
  list-style: none;
}

.sorting-catalog a:hover {
  color: var(--basic-blue);
}

.sorting-catalog a:active {
  color:var(--basic-black);
  border-bottom: none;
}

.sorting-catalog a:focus {
  color: var(--basic-blue);
  border-bottom: none;
}

.solid a {
  text-decoration: none;
  border-bottom: 1px solid var(--basic-blue);
}

.sorting-catalog li {
  position: relative;
  margin-right: 33px;
}

.sorting-catalog a {
  font-size: 12px;
  line-height: 18px; 
  color:var(--basic-black);
}

.catalog-found {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.button-up-down {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 400px;
}

.button-down {
  margin-left: 12px;
}

.catalog {
list-style: none;
margin: 0;
padding: 0;
}

.button-down:hover path,
.button-up:hover path {
fill: var(--basic-black);
}

.button-down:active path,
.button-up:active path {
  fill: var(--basic-blue);
  }

.title-catalog {
  font-size: 21px;
  line-height: 26px;
  text-decoration:none;
  color: var(--basic-black);
  margin-top: 23px;
  margin-bottom: 7px;
}

.title-catalog:hover {
  color: var(--basic-blue);
}

.title-catalog:active {
  color: rgba(0,0,0, 0,3);
}

.subtitle-catalog {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 9px;
}

.img-catalog {
margin-right: 29px;
margin-left: 73px;
}

.rating {
  color:var(--basic-rating-grey);
  background-color: var(--basic-background-grey);
  font-size: 14px;
  line-height: 21px;
  text-align:center;
  padding: 3px 15px;
  margin-right: 73px;
  
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-phone {
  width: 320px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.footer-social {
  text-align: center;
  width: 200px;
  list-style: none;
}

.footer-copyright {
  max-width: 300px;
}

.button-copyright a:hover path{
  fill: var(--basic-blue);
}

.button-copyright a:active path{
  fill: var(--logo-html);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

/* Social button */

.social-button  {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  background-color: var(--basic-blue);
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--hover-blue);
} 

.social-button:active {
  background-color: var(--active-blue);
} 

/*Grid*/

.feature-item-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 148px;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 124px;
} 

.icons img {
  margin-top: 64px;
}

.icons p {
  margin-bottom: 82px;
}

.feature-item-description-picture {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-item-picture-description {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-images {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 509px;
  padding: 0;
  margin: 0;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-slogan {
  margin: 0;
  max-width: 120px;
  justify-self: start;
  margin-left: 153px;
  margin-top: 23px;
}

.social-button-columns {
  margin: 0;
  max-width: 140px;
  justify-self: center;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 0;
  max-width: 250px;
  justify-self: end;
  margin-right: 80px;
}

.copyright svg {
margin-left: 20px;
}

/* Grid for pages */

.filters-column {
display: grid;
grid-template-columns: 1fr 1fr 2fr;
height: 217px;
}

.title-column-border {
  border-top: 1px var(--border) solid;
}

.title-column {
  border-bottom: 1px var(--border) solid;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.end-column {
  justify-self: end;

}



.start-column {
  justify-self: start;
 
}



 






